/node_modules
/client/node_modules
/public/hot
/public/storage
/storage/*.key
/controllers/php_errors.log
/libs/php_errors.log
/vendor
/.idea
/.vagrant
sftp-config.json
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
php_errors.log
.env
